/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

html {
	scrollbar-width: auto;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb-color);
	border-radius: 6px;
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-corner {
	background: var(--scrollbar-track-color);
}

<<<<<<< HEAD
*:not(#page-form-builder *)::-webkit-scrollbar {
=======
*::-webkit-scrollbar {
>>>>>>> c3bd8892e6 (fix: in case of owner, always include owner in count data)
	width: 6px;
	height: 6px;
}

body::-webkit-scrollbar {
<<<<<<< HEAD
	width: 12px !important;
	height: 12px !important;
=======
	width: 12px;
	height: 12px;
>>>>>>> c3bd8892e6 (fix: in case of owner, always include owner in count data)
}
