.form-control {
	border: none;
<<<<<<< HEAD
	height: var(--input-height);
	@include get_textstyle("base", "regular");
	border-radius: var(--border-radius-sm);
	padding: var(--input-padding);
=======
	font-size: var(--text-md);
>>>>>>> c3bd8892e6 (fix: in case of owner, always include owner in count data)
	position: relative;
}

.form-control.bold {
<<<<<<< HEAD
	font-weight: var(--weight-medium);
=======
	font-weight: 500;
>>>>>>> c3bd8892e6 (fix: in case of owner, always include owner in count data)
}

.like-disabled-input {
	.for-description {
<<<<<<< HEAD
		@include get_textstyle("sm", "regular");
	}
	min-height: var(--input-height);
	border-radius: var(--border-radius-sm);
	padding: var(--disabled-input-padding);
=======
		font-weight: normal;
		font-size: var(--text-sm);
	}
	min-height: var(--input-height);
	border-radius: $border-radius;
	font-weight: 400;
	padding: 6px 12px;
>>>>>>> c3bd8892e6 (fix: in case of owner, always include owner in count data)
	cursor: default;
	color: var(--disabled-text-color);
	background-color: var(--disabled-control-bg);
}

.head-title {
<<<<<<< HEAD
	font-size: var(--text-xl);
=======
	font-size: var(--text-lg);
>>>>>>> c3bd8892e6 (fix: in case of owner, always include owner in count data)
	font-weight: 700;
	color: var(--heading-color);
}
